

body{
    font-family: Arial, Helvetica, sans-serif;
}
article > p {
    text-align: justify;
    text-indent: 10px;
}
h1{
    text-align: center;
}
header{
    background-color: #ff0000;
    color: #fff;
}
ul{
    list-style-type:none;
   

}
li{ 
    display: inline-block;
    margin: 10px;
    padding: 5px;
    
}
li:hover {
    background-color: #2f00ff;
    transition-duration: 1s;

}
article{
    max-width: 800px;
    min-width: 20px;
    margin: auto;
}