@charset "utf-8";

*{
    margin: 0;
}

body{
    height: 97.8vh;
    background-image: url(img/back-phone.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}




article{
    background-color: rgba(255, 255, 255, 0.678);
    width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}



#phone{ margin: auto;}
#tablet{ display: none;}
#print{display: none;}
#pc{display: none;}
#tv{display: none;}