@charset "UTF-8";

@media screen and (min-width:800px) and (max-width:1200px){

body{

    background-image: linear-gradient( #5f2c82,#49a09d);
}
     #login{
        
        width: 90vw;
        transition: width 0.3s ;
        
     }

    #imagem{
        width: 50%;
        float:left;
        height: 100%;
        
        background-repeat: no-repeat;
        position: absolute;
    }
    #formulario{
        width: 50%;
        float: right;
    }



}
@media screen and (min-width:1200px){

  #login{
        
        width: 70vw;
        transition: width 0.3s ;
        transition-timing-function: ease;
        
     }

    #imagem{
        width: 50%;
        float:left;
        height: 100%;
        
        background-repeat: no-repeat;
        position: absolute;
    }
    #formulario{
        width: 50%;
        float: right;
    }
    body{

    background-image: linear-gradient( #5f2c82,#49a09d);
}


}