@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
      font-family: "Poppins", sans-serif;
      list-style-type: none;
}

body{
    width: 100vw;
   height:100vh;
   display: flex; 
   flex-direction: column;
   justify-content: center ;
   gap: 10px;
   align-items: center;
   background-color: rgb(0, 153, 255)

}

.conteiner{
    overflow-y: scroll;
    background-color: #fff ;
    height:300px;
    padding:30px;
    h1{
        margin-bottom: 15px;
    }

    li{
       
        position: relative;
        width: 100%;
        &:before{
            content: "" ;
            position:absolute;
            top: 19px;
            width: 100%;
            height:2px;
          background-color:rgb(36, 104, 206);
        }
        #check{
            margin-right: 10px;
        }
        samp{
            position: absolute;
            left: 100%;
            cursor: pointer;
            color: red;
            font-weight: 600;
        }
       
    }
}
 .btn{
            padding: 7px;
            border-radius: 5px;
            border: none;
            background-color: greenyellow;
            cursor: pointer;
        }
        input{
            padding: 5px;
            width: 250px;
            &:focus{
                outline: none;
                border:solid 1px greenyellow ;
            }

        }

