@media print{
 nav{
    display: none;
}
  svg{
    display: none;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
}

@media screen and (min-width:768px )   {

svg{
    display: none;
}
li{

    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

a{
     text-decoration: none;
     color: white;
}
 nav{
    display: block;
}
 
 }
