@charset "utf-8";


*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
    height: 100vh;
  overflow-y: scroll;
}
header >h1{
    text-align: center;
   margin-top: 0;
   
    
}
header{
    background-color: blueviolet;
 height: 80px;
}
svg{
   margin-bottom: 30px;
   margin-left: 20px;
   position: relative;
   bottom: 30px;
}
menu{
    
    background-color: lab(0% 0 0 / 0.92) ;
    height: 100vh;
    
    
    position: absolute;
    
  display: none;
    
    
}

menu >ul > li > a{
    text-decoration: none;
    color: white;
    margin-bottom: 30px;
   
}
a:hover{

    color: yellow;
}
menu >ul > li{
    padding-top: 20px;
    margin-bottom: 30px;
    margin-left: 20px;
    


}
#x{

   margin-left: 60vw;
   position: relative;
   top: 2px
   
}

main{
    margin: auto;
     max-width: 500px;
     min-width: 20px;
     background-color: white;
     padding: 20px;
}
h1{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 18px ;
}
nav{
    display: none;
}
